{% extends 'base.html' %}

{% block title %} Daily View {% endblock %}

{% block header %} Daily View {% endblock %}

{% block content %}
  <table class="table table-striped">
        <thead title="Customers">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Zipcode</th>
          </tr>
        </thead>
      {% for Customer in customers &}
      {& for Employee in employees  %}
      {% if Customer.zip_code == Employee.zip_code %}
        <tbody>
          <tr>
            <td>{{Customer.name}}</td>
            <td>{{Customer.address}}</td>
            <td>{{Customer.zip_code}}</td>
          </tr>
       </tbody>
      </table>
        {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
    {% endif %}
{% endblock %}