{% extends 'base.html' %}

{% block title %} Daily View {% endblock %}

{% block header %} Daily View {% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Employee {{ user.username }}!

     <table class="table table-striped">
        <thead title="Customers">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Zipcode</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
        {% for cust in customers %}
          <tr>
            <td>{{ cust.name }}</td>
            <td>{{ cust.address }}</td>
            <td>{{ cust.zip_code }}</td>
            <td>${{ cust.balance }}</td>
          </tr>
        {% endfor %}
       </tbody>
      </table>
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}