{% extends 'base.html' %}

{% block title %} Daily Route {% endblock %}

{% block content %}

<table class="table table-striped">
    <thead title="Customers">
      <h1>}Daily Route </h1>
      <tr>
        <th>Name</th>
        <th>Customer Pickup Day</th>
        <th>Suspension Status</th>
        <th>Pickup Confirmation</th>
      </tr>
    </thead>
    <tbody>
    {% for customers in daily_view %}
    {% if Customer.is_suspended != True %}
      <tr>
        <td>{{Customer.name}}</td>
        <td>{{Customer.weekly_pickup_day}}</td>
        <td><a href="{% url 'employees:confirm_pickup' Customer.id %}">Confirm Pickup</a></td>
      </tr>
    {% endfor %}
   </tbody>
</table>


{% endblock %}