{% extends 'base.html' %}
{% block title %} Daily Route {% endblock %}
{% block header %} Daily Route {% endblock %}
{% block content %}



  <table class="table table-striped">
         <thead title="Customers">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Zipcode</th>
            <th>Pickup Confirmation</th>
          </tr>
        </thead>
        <tbody>
           {% for custr in customers %}
          <tr>
            <td>{{ custr.name }}</td>
            <td>{{ custr.address }}</td>
            <td>{{ custr.zip_code }}</td>
            <td><button type="button">Confirm</button></td>
          </tr>
           {% endfor %}

           {% if custr in route %}
          <tr>
            <td>{{ custr.name }}</td>
            <td>{{ custr.address }}</td>
            <td>{{ custr.zip_code }}</td>
            <td><button type="button">Confirm</button></td>
          </tr>
        {% endif %}
       </tbody>
      </table>
{% endblock %}